.cards {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (min-width: $breakpoint-md) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__title {
    text-align: center;
    margin-bottom: 15px;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-bottom: 60px;
    }
  }

  &__container {
    display: grid;
    gap: 30px;
    @media screen and (min-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    min-height: 185px;
    border: 1px solid var(--gray-color);
    border-radius: 3px;
    display: flex;
    gap: 30px;
    align-items: center;
    transition: all 0.3s;
    padding: 30px;
    @media screen and (min-width: $breakpoint-md) {
      min-height: 202px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      &:hover {
        background: var(--light-color);
      }
    }
  }

  &__image {
    flex: 0 0 76px;
  }

  &__image-img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  &__text-txt {
  }
}
