.offer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--light-color);
  @media screen and (min-width: $breakpoint-md) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
    @media screen and (min-width: $breakpoint-lg) {
      margin-bottom: 70px;
    }
  }

  &__container {
    display: grid;
    gap: 30px;

    @media screen and (min-width: $breakpoint-md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__items {
    font-weight: 700;
    font-size: 18px;
    min-height: 100px;
    background: url("/src/img/line.svg") no-repeat left center/8px 100px;
    padding-left: 40px;
    display: flex;
    align-items: center;
  }

  &__items-text {
  }

  &__inner {
    margin-top: 50px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 80px;
      display: flex;
      gap: 35px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      margin-top: 60px;
      gap: 65px;
    }
  }

  &__inner-parthner {
    display: grid;
    gap: 15px;
    @media screen and (min-width: $breakpoint-md) {
      gap: 40px;
      flex: 1 0 300px;
      align-self: flex-start;
    }
    @media screen and (min-width: $breakpoint-lg) {
      flex: 1 0 360px;
      gap: 25px;
    }
  }

  &__inner-parthner-title {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.3px;

    @media screen and (min-width: $breakpoint-md) {
      font-size: 24px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      font-size: 27px;
    }

    span {
      color: var(--brand-color);
    }

    img {
      width: 27px;
      height: 17px;
      vertical-align: baseline;
      @media screen and (min-width: $breakpoint-lg) {
        width: 31px;
        height: 19px;
      }
    }
  }

  &__inner-parthner-logo {
    img {
      width: 200px;
      height: auto;
      @media screen and (min-width: $breakpoint-md) {
        width: 262px;
      }
    }
  }

  &__inner-list {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    gap: 30px;
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }

  &__inner-list-item {
    padding-left: 40px;
    position: relative;
    line-height: 1.5;

    @media screen and (min-width: $breakpoint-md) {
      font-size: 18px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 8px;
      height: 8px;
      background: var(--brand-color);
    }
  }
}
