:root {
  --light-color: #f9f8fb;
  --light-gray-color: #929292;
  --gray-color: #494949;
  --brand-color: #ff3333;
  --brand-color-hover: #ff3333da;
  --white-color: #fff;
}

$breakpoint-md: 768px;
$breakpoint-lg: 1366px;
